* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

.hero {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: black;
  height: 200vh;
  
}
.back-img {
  position: absolute;
  width: 406px;
  height: 609px;
  top: 50%;
  transform: translateY(-50%);
}
.front-text {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: bold;
  font-size: 200px;
  line-height: 235px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.outline {
    color: transparent;
  -webkit-text-stroke: 8px black;
}
.lower {
  z-index: 1;
}
.middle {
  z-index: 2;
}
.upper {
  z-index: 3;
}
